<!DOCTYPE html>
<html>
    <head>
        <title>UNO'S Password Manager</title>
    </head>
    <body>
        <h1>My UNO'S Password Manager</h1>
         <div class="container">
        <h1>My Password Manager</h1>
        
        <div id="login-section">
            <h2>Login</h2>
            <input type="text" id="username" placeholder="Username">
            <input type="password" id="password" placeholder="Master Password">
            <button onclick="login()">Login</button>
            <p>Don't have an account? <a href="#" onclick="showRegister()">Register</a></p>
        </div>
        <p>gfhjgjffdgjjyskjhbjsg
            bvghghdhgv
            gdhgdshjgdgfgyugttyhjkfjfgkjhkfjgkjhkjjfghkhiuyuijhjgiuyuu88u8u8uu       r efu
            vdgsdfbh dndbkabyhdgajkdyjfhjgsfhgsfhjgf
            dsfhgsfhgdsfgfysjkquwyiggg
            bcdgh
            bfhgb'
            sbfhjhgbygrbgdjpu rnmbwbmnwrbxbczv,cnxzB
            jsdhjjskdxbnxhewj,mndqajkhskkljkfuirbvgfghyfgb
            fdgjhgjjhrfggrf
            vgfhdsgfjvhgfverty'[
            gfyuyeutwrytqyutr3
            <a href=   ></a>
        </p>
    </body>

</html>